@import "tailwindcss";

@theme {
  --color-main-bg: #053a36;
  --color-main-text: #CB4943;
  --color-main-para: #D6CEC3;

  --shadow-inset-nav: inset 0 -3px 0 0 rgba(0, 0, 0, 0);

  --breakpoint-xs: 480px;
  --breakpoint-lg1336: 1336px;
}

@layer utilities {
  .font-dm-serif-display {
    font-family: var(--font-dmSerifDisplay);
  }
  .font-roboto {
    font-family: var(--font-roboto);
  }
}

body {
  background-color: #053a36 !important;
  color: #cb4943 !important;
}
input {
  background-color: #053a36;
}
textarea {
  background-color: #053a36;
}
